In [35]:
import seaborn as sns
import numpy as np

## 0 Задача
#### Весь ноутбук оформлять заголовками и текстами
 
 - номер задачи
 - номер подзадачи 
 - предоставленные наборы данных  оформляем как код

In [3]:
dict1 = {'One' : 1, 'Two': 2, 'Three' : 3}
dict2 = {'Four': 4, 'Five': 5, 'Six' : 6}
dict3 = {}

In [6]:
dict1.update(dict2)
dict1
dict3.update(dict1)
dict3

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [ ]:
def funck(dict1,dict2):
    dict.update(dict2)
    return dict1

## задание 2

In [21]:
keys = ['one', 'Two', 'Three']
values = [1,2,3]

In [22]:
def get_dict(keys,values):
    res = {}
    for i  in range(len(keys)):
        res.update(
            {keys[i] :  values[i]
            }
        )
    return res
    
get_dict(keys,values)

{'one': 1, 'Two': 2, 'Three': 3}

### List comprehencion

In [24]:
def get_dic(keys,values):
    return {keys[i]: values[i] for i in range(len(keys))} # Быстрее чем for

get_dic(keys,values)

{'one': 1, 'Two': 2, 'Three': 3}

### Задание 3

In [28]:
client_dict = {
    "name": "John",
    "age": 25,
    "salary": 5000,
    "city": "Moscow"
}

In [29]:
keys = ['name','age']
keys

['name', 'age']

In [30]:
def get_keys(dict1, keys):
    res = {}
    for i in keys:
        res.update({
            i: dict1[i]
        })
    return res

In [31]:
get_keys(client_dict, keys)

{'name': 'John', 'age': 25}

In [33]:
new_dict = {i : client_dict[i] for i in keys}
new_dict

{'name': 'John', 'age': 25}

<img src='https://149695847.v2.pressablecdn.com/wp-content/uploads/2017/06/ea8853d740994d7a23b587d20033c262.jpg
'>

### Задание 4

<table>
    <tr>
        <td></td>
        <td> До события </td>
        <td> После сабытия</td>
    </tr>
    <tr>
        <td>1  контрольная точка </td>
        <td>250 </td>
        <td>500 </td>
    </tr>
        <tr>
        <td>2  контрольная точка </td>
        <td>350 </td>
        <td>700 </td>
    </tr>
</table>

<table>
    <tr>
        <td></td>
        <td> До события </td>
        <td> После сабытия</td>
    </tr>
    <tr>
        <td>1  контрольная точка </td>
        <td>250 </td>
        <td>500 </td>
    </tr>
        <tr>
        <td>2  контрольная точка </td>
        <td>350 </td>
        <td>700 </td>
    </tr>
</table>

In [48]:
def smth():
    list = []
    for i in range(5):
        list.append(np.random.randint(1,100))
    return list
smth()

[23, 13, 86, 93, 94]

6

In [122]:
data = [np.random.randint(0,100) for i in range(5)]
data

[75, 27, 6, 2, 3]

In [123]:
s = np.random.randint(0,100)
np.random.seed(12)
s

67

In [124]:
def sum_s(*args):
    sum_purch = sum(args)
    n_purch = len(args)
    return {
        'sum' : sum_purch,
        'mean': sum_purch / n_purch
    }

In [125]:
sum_s(1,4,6,7,8,10,4)

{'sum': 40, 'mean': 5.714285714285714}

## Генератор

- Генератор на вход принимает список с данными о клиенте (данные из пункта 4.1)
- Внутри генератора реализуйте обход по списку с данными
На каждой итерации генератор будет возвращать кортеж из двух элементов:

данные по клиенту (в зависимости от итерации, на 0 итерации вернется 0 элемент, на 1 итерации вернется 1 элемент и тд)
целочисленное значение, которое показывает, сколько секунд прошло с предыдущей итерации
Примечание: секунды, которые возвращаются должны показывать время не с начала запуска генератора, а именно то время, которое прошло с предыдущей итерации. А значит время на первой итерации должно равняться 0.

- Используйте функцию time из модуля time для подсчета времени.
- Чтобы проверить работу таймера, запустите проход по генератору в цикле с time.sleep(2)

In [138]:
import time

In [139]:
data = [np.random.randint(0,100) for i in range(5)]
data

[75, 27, 6, 2, 3]

In [142]:
def fun(data):
    last_time = None
    for i in data:
        curett_time =time.time()
        
        if last_time:
            delta = curett_time - last_time
        else:
            delta = curett_time - curett_time
            
        last_time = time.time()
        yield(int(delta), i)# аналог  return

In [143]:
for i in fun(data):
    print(i)
    time.sleep(2)

(0, 75)
(2, 27)
(2, 6)
(2, 2)
(2, 3)